<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />

        <title>Document</title>
    </head>
    <body>
        <header class="text-gray-600 body-font">
            <div
                class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
            >
                <a
                    class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
                        ></path>
                    </svg>
                    <a href="/user/login" class="ml-3 text-xl">Tailblocks</a>
                    <!-- <span class="ml-3 text-xl">Tailblocks</span> -->
                </a>
                <div class="md:ml-auto text-base justify-center mr-4">
                    <% if(loggedIn) { %> logged in as <%=
                    currentUser.user.fullName %> <% } else { %>
                    <a href="/user/login">log in</a>
                    <% } %>
                </div>

                <!-- // <nav
                //     class="md:ml-auto flex flex-wrap items-center text-base justify-center"
                // >
                //     <a class="mr-5 hover:text-gray-900">First Link</a>
                //     <a class="mr-5 hover:text-gray-900">Second Link</a>
                //     <a class="mr-5 hover:text-gray-900">Third Link</a>
                //     <a class="mr-5 hover:text-gray-900">Fourth Link</a>
                // </nav> -->

                <a
                    class="inline-flex items-center h-8 px-4 m-2 text-sm text-gray-700 transition-colors duration-150 bg-gray-200 rounded-lg focus:shadow-outline hover:bg-gray-300"
                    href="logout"
                    >Logout</a
                >
            </div>
        </header>

        <div class="flashes">
            <% if (flashMessage) { %> <% if (flashMessage.success) { %>
            <div>
                <div
                    class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 flex justify-center"
                    role="alert"
                >
                    <p class="font-bold"><%- flashMessage.success %></p>
                </div>
            </div>
            <% } else if (flashMessage.error) { %>
            <div>
                <div>
                    <div
                        class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 flex justify-center"
                        role="alert"
                    >
                        <p class="font-bold"><%- flashMessage.error %></p>
                    </div>
                </div>
            </div>
            <% } %> <% } %>
        </div>
        <%- body %>
    </body>
</html>
