.default {
    color: #000;
    margin: 0;
}

.info {
    color: #8c8c8c;
    margin: 0;
}

.warning {
    color: #f0163a;
    margin: 0;
}

.s {
    font-size: 1rem;
}
.m {
    font-size: 2rem;
}
.l {
    font-size: 3rem;
}
